h1{
    font-family: $Mono;
    font-size: $xx-large;
    padding-right: 55px;
    margin-right: 55px;
    margin-top: 30px;
    
}

p{
    font-family: $Roboto;
    font-size: $medium;
}   

h2{
    font-family: $Mono;
}


