//Primer Esquema de colores
$white: #ffff;
$isabelline: #EEEDED;
$spanish-gray: #989797;

//Segundo esquema de colores
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;

// Tercer Esquema de colores
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #F2B2A0;


//Cuarto esquema decolores
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;

//Quinto esquema de colores
$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

//Sexto esquema de colores
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

//Tipografías
$Mono: 'PT Mono', monospace;
$Roboto: 'Roboto', sans-serif;

//Peso de fuentes
$regular: 400;
$ligth: 300;

//Tamaños de fuentes
$xx-large: 55px;
$x-large: 35px;
$large: 18px;
$medium: 16px;
