.logo-principal{
    width: 3%;
    margin-right: 5%;
    margin-left: 3%;
}

ul{
    font-family: $Mono;
    padding-bottom: 30px;
    list-style: none;
    display: inline-flex;
    color: $quick-silver;
}

.about{
   padding-right: 40px;
}
