.navegador {
    display: inline-flex;
    height: 96px;
    &__logo {
        width: 39px;
    height: 74px;
    margin-right: 30px;
    margin-left: 40px;
    padding-top: 20px;
    }
}

ul{
    font-family: $mono;
    list-style: none;
    display: inline-flex;
    color: $quick-silver;
    padding-top: 35px;
    padding-left: 35px;
}

.about{
   padding-right: 40px;
}
