.navegador {
    display: inline-flex;
}
.logo-principal{
    width: 3%;
    margin-right: 5%;
    margin-left: 3%;
    padding-top: 20px;
}

ul{
    font-family: $mono;
    list-style: none;
    
    color: $quick-silver;
}

.about{
   padding-right: 40px;
}
