.titulo{
    float: right;
}

.box-cafe{
    display: inline-flex;
    background-color: $white;
    position: absolute;
    height: 180px;
    width: 500px;
    top: 400px;
    left: 400px;
}

.box__variedades{
    font-family: $mono;
    font-size: 40px;
    padding: 30px;
}

.box__paises{
    font-family: $mono;
    font-size: 40px;
    padding: 30px;
}

.box__accesorios{
    font-family: $mono;
    font-size: 40px;
    padding: 30px;
}

.lugar{
    font-family: $mono;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 3%;
    width: 350px;
    &__texto {
    padding-right: 5%;
    }
}

.yellow-box{
    background-color: $buff;
    position: absolute;
    left: 100%;
    width: 28%;
    height: 86%;
}

.orange-box{
    background-color: $flame;
    position: absolute;
    left: 93%;
    width: 30%;
    height: 87%;
    top: -13%;
}

.flecha{
    color: $white;
    margin: 35px;
}

.caja__mapa{
    width: 33%;
    left: 33%;
    top: 578px;
    z-index: 1;
    position: absolute;
}

.caja__granos{
    position: absolute;
    left: 880px;
    top: 546px;
    width: 90px;
    z-index: 2;
}

.caja__cafe {
    position: absolute;
    left: 899px;
    top: 546px;
    z-index: 1;
}


.blue-box{
    background-color: $blue-de-france;
    position: absolute;
    height: 224px;
    width: 589px;
    left: 450px;
    top: 546px;
    z-index: 0;
}